// Mixins in here

.custom-button(@bgcolor, @font-color, @font-size, @border-radius, @margin) {
  background: @bgcolor;
  color: @font-color;
  font-size: @font-size;
  -webkit-border-radius: @border-radius;
  -mox-border-radius: @border-radius;
  border-radius: @border-radius;
  margin: @margin;
}
